{% assign project = include.project %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post{% if include.link_title %} mb6{% endif %}" role="article">
    <header>
        <h1 class="post-title">
            {% if include.link_title %}<a href="{{ project.url | relative_url }}" data-flip="title">{% endif %}
            {{ project.title }}
            {% if include.link_title %}</a>{% endif %}
        </h1>

        <p class="post-date heading">
            <time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%d %b %Y" }}</time>
            {% include tag-list.html tags=project.categories meta=site.featured_categories start_with="in " separator=" / " %}
            {% include tag-list.html tags=project.tags meta=site.featured_tags start_with="on " separator=", " %}
        </p>

        {% include message.html text=project.description %}
    </header>

    {% unless include.excerpt %}
    {{ project.content }}
    {% else %}
    {{ project.excerpt }}
    <p class="read-more">Continue reading <a class="heading" href="{{ project.url | relative_url }}" data-flip="title">{{ project.title }}</a></p>
    {% endunless %}

</article>

{% unless include.link_title %}
<hr class="dingbat" />
{% endunless %}
